<div class="container">
<h1>Login</h1>
	<div class="big">
		<%= form_for :session, :url => sessions_path do |f| %>
			<div class="auth"><%= f.text_field :email, placeholder: "E-mail here" %></div>
			<div class="auth"><%= f.password_field :password, placeholder: "Password here" %></div>
			<div class="auth" id="submit"><%= f.submit "Login" %></div>
		<% end %>
	</div>
</div>