
<div class="container">
	<h1><%= @user.full_name %> </h1>
	<blockquote>
		<p>Username: <%= @user.full_name %></p>
		<p>Email: <%= @user.email %></p>
	</blockquote>


<%# if user.agent.picture_file_size %>
<%# image_tag user.agent.picture.url(:thumb) %>
<%# end %>
	
</div>