<h1>Locations#index</h1>
<p>Find me in app/views/locations/index.html.erb</p>

Name: <%= link_to current_user.full_name, agent_path(current_user) %>

<%= link_to 'New Location', new_location_path, class: "button" %>
<br><br/>
<%= render @locations %>